# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dnwjd123@@
POSTGRES_HOST=localhost
POSTGRES_DATABASE=nextjs_dashboard
POSTGRES_URL=postgresql://postgres:dnwjd123@@@localhost:5432/nextjs_dashboard
POSTGRES_URL_NON_POOLING=postgresql://postgres:dnwjd123@@@localhost:5432/nextjs_dashboard
POSTGRES_PRISMA_URL=postgresql://postgres:dnwjd123@@@localhost:5432/nextjs_dashboard

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth